
.navbar {
    padding: 5px;
    background-color: black;

}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;

}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}